%article.span9
  %header
    %h3
      = job.title
      = category_label job.category
  = RedCloth.new(job.about_this_job.truncate(100, seperator: ' ', omission: ' ...')).to_html.html_safe
  .form-actions
    %strong Closing date:
    = job.start_date.to_s(:long)
    = link_to "More information", job_path(job), class: "btn btn-primary pull-right"