%h2 Publish your job
= simple_form_for @job, html: { class: "form-horizontal" } do |f|
  = f.input :title, input_html: { class: "span6" }
  = f.input :about_this_job, input_html: { class: "span6", rows: 5 }
  = f.input :requirements, input_html: { class: "span6", rows: 5 }
  = f.input :how_to_apply, input_html: { class: "span6", rows: 5 }
  = f.input :location, input_html: { class: "span4" }
  = f.input :application_deadline
  = f.input :start_date
  = f.association :category
  .form-actions
    = f.submit class: "btn btn-primary"
