!!!5
%html
  %head
    %title CareerGeek JOBS
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #fb-root
    .container.spaced-top
      .row
        .span6
          %h1= image_tag "careergeek_logo_plain.png"
        - unless current_recruiter or current_candidate
          .span6
            = form_tag sessions_path, class: "simple_form form form-inline pull-right", id: "login" do
              %input{id: "email", name: "email", type: "email", placeholder: "Email", class: "input-large"}
              %input{id: "password", name: "password", type: "password", placeholder: "Password", class: "input-large"}
              = submit_tag "Log in", class: "btn btn-primary"
            .pull-right
              = link_to "Register", new_candidate_path
              |
              = link_to "Forgotten Password", "#"
      .row
        .span12
          - if current_recruiter
            = "Signed in as #{current_recruiter.email}. Not #{current_recruiter.email}?"
            = link_to "Log out", session_path(current_recruiter), method: :delete
      .navbar.navbar-inverse.spaced-top
        .navbar-inner
          .container
            %a{ class: "btn btn-navbar", data: { toggle: "collapse", target: ".nav-collapse"}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            #div{class: "nav-collapse navbar-inverse-collapse collapse", data: { target: ".navbar-inverse-collapse"} }
              %ul.nav
                %li.active= link_to "Home", root_path
                %li= link_to "Add a job", new_job_path
                %li= link_to "Career Advice", new_job_path
                %li= link_to "About", root_path
                %li= link_to "Candidates", new_candidate_path
                %li= link_to "Recruiters", new_recruiter_path

              %form.navbar-search.pull-right
                %input.search-query{ placeholder: "Search" }
      - flash.each do |k,v|
        #div{class: "alert alert-#{k}"}
          = v
      .row
        .span9
          = yield
        .span3
          %p= link_to "Add your job for free", new_job_path, class: "btn btn-success btn-large btn-block"
          = yield :sidebar
          = link_to image_tag("http://www.careergeekblog.com/wp-content/uploads/2012/02/careergeeklogo1.jpg"), "http://www.careergeekblog.com"
          = blog_last_posts
          %ul.nav.nav-list.well
            %li.nav-header Categories
            = category_link("All jobs", jobs_path)
            = category_link("Business")
            = category_link("Design & Art")
            = category_link("Engineering")
            = category_link("Finance")
            = category_link("IT")
            = category_link("Marketing")
            = category_link("PR")
            = category_link("Other")
          -#.fb-like{ data: { send: false, show_faces: true }}
    #footer
      .container
        = render "shared/footer"